button.register-button {
  border-radius: 4px;
  background-color: #121212;
  color: #fff;
}

button.login-button {
  background-color: transparent;
  color: #121212;
  border: none;
}

a.courses-link{
    color: #121212;
}