a.register-button.btn.btn-outline-primary {
  border-radius: 4px;
  background-color: #121212;
  color: #fff;
}

a.login-button.btn.btn-primary {
  background-color: transparent !important;
  color: #121212;
  border: none !important;
}

a.courses-link{
    color: #121212;
}