.colophon > .nav-colophon {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  li {
    padding-right: 15px;
    list-style-type: none;
    a {
      margin: 6px 2px 66px 1px;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #121212;
    }
  }
}
.Line {
  width: 90%;
  height: 2px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0.15;
  border: solid 1px #121212;
}

div.footer-container {
  display: flex;
  justify-content: space-between;
}

.privacy-links > ul {
  display: flex;
  li {
    padding-right: 15px;
    margin: 6px 2px 66px 1px;
    margin-left: 15px;

    list-style-type: none;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}

.flex.icons {
  display: flex;
  justify-content: center;
  svg {
    margin: 15px;
    width: 25px;
  }
}

.logos-section {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  img {
    width: 200px;
    padding-left: 30px;
  }
}
